@model Mvc2NorthwindSortOrder.ViewModels.OrderListViewModel
@{
    ViewData["Title"] = "Index";

    string GetClickSortOrder(string columnName)
    {
        if (columnName == Model.SortColumn)
        {
            string o = "asc";
            if (Model.SortOrder == "asc")
            {
                o = "desc";
            }
            return o;
        }
        else
        {
            return "asc";
        }
    }

    void RenderSortIcon(string columnName)
    {
        if (columnName != Model.SortColumn)
        {
            return;
        }
        <i class="fa fa-fw fa-sort-@Model.SortOrder"></i>
    }
}

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col"><a href="#" onclick="window.location.href=setSort(window.location.href, 'id', '@GetClickSortOrder("id")')">Id @{ RenderSortIcon("id");}</a></th>
            <th scope="col"><a href="#" onclick="window.location.href=setSort(window.location.href, 'namn', '@GetClickSortOrder("namn")')">Title @{ RenderSortIcon("namn"); }</a></th>
            <th scope="col"><a href="#" onclick="window.location.href=setSort(window.location.href, 'datum', '@GetClickSortOrder("datum")')">Released @{ RenderSortIcon("datum"); }</a></th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Items)
        {
            <tr>
                <th scope="row">@order.OrderId</th>
                <td>@order.CustomerName</td>
                <td>@order.OrderDate</td>
                <td><a asp-action="View" asp-route-id="@order.OrderId">View</a></td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("_PagerBootstrap", Model.PagingViewModel)
<script>
    function setSort(url,col, o) {
        var s = updateQueryStringParameter(url, 'sortcolumn', col);
        s = updateQueryStringParameter(s, 'sortorder', o);
        return s;
    }

</script>

